.wrapper {
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
}

.button {
    margin: 0.8rem 0.4rem;
}

button {
    width: 110px;
}

.stats {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}
